@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --theme-color: #0DBDFA;
    --secondary-color: white;
    --background-color: #111D24;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
    margin: 0;
}

.dashboard {
    background-color: var(--theme-color);
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100vw;
    height: 80px;
}

.menu-btn { 
    color: var(--secondary-color);
    background: transparent;
    border: 0;
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.menu-btn:focus {
    outline: 0;
}

.user {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    overflow: hidden;
    font-weight: bold;
    letter-spacing: 1.3px;
}

.class-list { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.class-card {
    background-color: var(--theme-color);
    color: var(--secondary-color);
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.big-card {
    width: 300px;
    height: 200px;
    font-size: 100px;
}

.student-list {
    position: absolute inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-card {
    background-color: var(--theme-color);
    color: var(--secondary-color);
    text-align: center;
    width: 150px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
}

.preview-navigation {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 40px;
}

.preview-navigation li {
    width: 200px;
    height: 100%;
    margin: 20px;
}

.preview-item {
    color: var(--secondary-color);
    background-color: var(--theme-color);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;    
    text-decoration: none;
}

.week {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}